/.vs/EmployeeManagementSystem/v15/Server/sqlite3/storage.ide-wal
/.vs/EmployeeManagementSystem/v15/Server/sqlite3/*.lock
/.vs/EmployeeManagementSystem/v15/Server/sqlite3/*.ide
/.vs/EmployeeManagementSystem/v15/Server/sqlite3/*.ide-shm
/.vs/EmployeeManagementSystem/v15/Server/sqlite3/*.ide-wal
/.vs/config/*.config/*.suo/*.sou/.vs/EmployeeManagementSystem/v15/.suo
/.vs/config/applicationhost.config
/.vs/EmployeeManagementSystem/v15/*.suo
